<div *ngIf="compareType(questions[1])">
  <input type="image" (click)="addInput()" src="../../assets/plus.png" />
  <div *ngFor="let optionNumber of numberOfOptions">
    <input type="checkbox">
    <input type="text" [(ngModel)]="questionOptions[optionNumber]">
  </div>
</div>
<div *ngIf="compareType(questions[3])">
  <input type="image" (click)="addInput()" src="../../assets/plus.png" />
  <div *ngFor="let optionNumber of numberOfOptions">
    <input type="radio">
    <input type="text" [(ngModel)]="questionOptions[optionNumber]">
  </div>
</div>

<div *ngIf="compareType(questions[4])">
  <input type="image" (click)="addInput()" src="../../assets/plus.png" />
  <div *ngFor="let optionNumber of numberOfOptions">
    <input type="text" [(ngModel)]="questionOptions[optionNumber]">
  </div>

</div>
<div><button class="add" (click)="talkBack()"> Add Question</button>
</div>


