<!--The content below is only a placeholder and can be replaced.-->
  <app-question (talk)="talkBack($event)"></app-question>
<div class="showQuestion" *ngFor="let question of allQuestions">
  <span class="showQuestionTitle">{{question.title}}</span>
  <div *ngIf="compareType(questions[0],question.questionType)">
    <input class="showQuestionInput" type="text">
  </div>
  <div *ngIf="compareType(questions[1],question.questionType)">
    <div *ngFor="let contentRow of question.content">
      <input type="checkbox">
      <label class="showQuestionLabel">{{contentRow}}</label>
    </div>
  </div>
  <div *ngIf="compareType(questions[2],question.questionType)">
    <input class="showQuestionInput" type="number" min="1" max="10">
  </div>
  <div *ngIf="compareType(questions[3],question.questionType)">
    <div *ngFor="let contentRow of question.content">
      <input type="radio">
      <label class="showQuestionLabel">{{contentRow}}</label>
    </div>
  </div>
  <div *ngIf="compareType(questions[4],question.questionType)">
    <select class="showQuestionSelect">
      <option class="showQuestionOption" *ngFor="let contentRow of question.content" [value]="contentRow">{{contentRow}}</option>
    </select>
  </div>
</div>
<input title="Submit survey"type="image" src="../assets/paper-plane.png" class="submit-button" (click)="sendButtonAction()">
